In [8]:
import pandas as pd

# Load Dataset

In [9]:
df = pd.read_csv("final_data/initial_dataset.csv") 
df.head()

,Unnamed: 0,user_id,name_x,time,rating,text,pics,resp,gmap_id,name_y,latitude,longitude,category,avg_rating,num_of_reviews,url,policy
0,37198,110199730286805608874,Michelle Banks,1.518320e+12,5.0,It's a beautiful place to read books and have ...,NaN,NaN,0x80c8bf81f68a634f:0xe605b4c3043783c9,Barnes & Noble,36.157754,-115.289418,"['Book store', 'Cafe', 'Childrens book store',...",4.6,1719,https://www.google.com/maps/place//data=!4m2!3...,relevant
1,39373,106455408371866150988,Steven DeRyck [Staff],1.536440e+12,4.0,"As previous reviews have stated, two small pie...",NaN,NaN,0x80c8c415f0a42c77:0x55c554fdc4ad8b9c,Carnegie Deli,36.120556,-115.173611,"['Deli', 'Takeout Restaurant', 'Sandwich shop']",4.1,706,https://www.google.com/maps/place//data=!4m2!3...,relevant
2,43382,110442613019980396910,Stevey Markovich,1.595530e+12,5.0,Absolutely love this office! Afton is truly am...,NaN,"{'time': 1595600023968, 'text': 'Thank you! Ha...",0x80c8ce0f7732ee7b:0xea13348742f64327,Center for Cosmetic and Family Dentistry,36.001929,-115.107484,['Dentist'],4.9,318,https://www.google.com/maps/place//data=!4m2!3...,relevant
3,9672,102404509430936241440,William Campbell,1.544390e+12,3.0,The food is as good as it usually is,NaN,NaN,0x80c8dc9da25847c7:0x27b862b824ac757c,Asian Garden,36.168901,-115.060601,"['Restaurant', 'Asian restaurant', 'Chinese re...",3.8,128,https://www.google.com/maps/place//data=!4m2!3...,relevant
4,92564,111658148729564710703,Beverly Thorman,1.523150e+12,5.0,We came in without an appointment on a Saturda...,NaN,"{'time': 1523207982441, 'text': 'Thank you for...",0x80c8c03de37488fd:0xdc3302fd9f8f44a,Great Clips,36.191055,-115.258969,"['Hair salon', 'Beauty salon']",4.3,168,https://www.google.com/maps/place//data=!4m2!3...,relevant

# Check Data Types

In [10]:
print(df.dtypes)

Unnamed: 0          int64
user_id            object
name_x             object
time              float64
rating            float64
text               object
pics               object
resp               object
gmap_id            object
name_y             object
latitude          float64
longitude         float64
category           object
avg_rating        float64
num_of_reviews      int64
url                object
policy             object
dtype: object

# Remove Irrelevant Columns

Columns `pics`, `resp`, `url`, `Unnamed: 0` are no longer relevant in the dataset as we would not be using these fields in the analysis downstream.

As such, we would remove these columns.

In [11]:
df = df.drop(columns=["pics", "resp", "url", "Unnamed: 0"])

# Rename Columns

We will rename columns to a more descriptive name so that it is more intuitive.

`name_x` will be renamed to `user_name`

`name_y` will be renamed to `business_name`

`text` will be renamed to `review`

`category` will be renamed to `business_desc`

`policy` will be renamed to `label`

In [12]:
df.rename(
    columns={
        "name_x": "user_name",
        "name_y": "business_name",
        "text": "review",
        "category": "business_desc",
        "policy": "label"
    },
    inplace=True
)

In [13]:
df.head()

,user_id,user_name,time,rating,review,gmap_id,business_name,latitude,longitude,business_desc,avg_rating,num_of_reviews,label
0,110199730286805608874,Michelle Banks,1.518320e+12,5.0,It's a beautiful place to read books and have ...,0x80c8bf81f68a634f:0xe605b4c3043783c9,Barnes & Noble,36.157754,-115.289418,"['Book store', 'Cafe', 'Childrens book store',...",4.6,1719,relevant
1,106455408371866150988,Steven DeRyck [Staff],1.536440e+12,4.0,"As previous reviews have stated, two small pie...",0x80c8c415f0a42c77:0x55c554fdc4ad8b9c,Carnegie Deli,36.120556,-115.173611,"['Deli', 'Takeout Restaurant', 'Sandwich shop']",4.1,706,relevant
2,110442613019980396910,Stevey Markovich,1.595530e+12,5.0,Absolutely love this office! Afton is truly am...,0x80c8ce0f7732ee7b:0xea13348742f64327,Center for Cosmetic and Family Dentistry,36.001929,-115.107484,['Dentist'],4.9,318,relevant
3,102404509430936241440,William Campbell,1.544390e+12,3.0,The food is as good as it usually is,0x80c8dc9da25847c7:0x27b862b824ac757c,Asian Garden,36.168901,-115.060601,"['Restaurant', 'Asian restaurant', 'Chinese re...",3.8,128,relevant
4,111658148729564710703,Beverly Thorman,1.523150e+12,5.0,We came in without an appointment on a Saturda...,0x80c8c03de37488fd:0xdc3302fd9f8f44a,Great Clips,36.191055,-115.258969,"['Hair salon', 'Beauty salon']",4.3,168,relevant

# Check Null Values in each column

In [14]:
print(df.isnull().sum())

user_id           78
user_name         34
time               0
rating            74
review            11
gmap_id            0
business_name      3
latitude           0
longitude          0
business_desc      5
avg_rating         0
num_of_reviews     0
label              1
dtype: int64

# Handling Missing Values

Although columns like user_id, user_name, and business_name contain missing values, they will not serve as key features in our model development. 

Therefore, we will not perform any imputation or removal for these columns.

### `rating`

The `rating` column is a numerical variable. There are 74 rows with missing values, which we will impute using the median of the available ratings.

Since the number of missing rows is small, median imputation is unlikely to significantly alter the overall distribution of ratings.

In [15]:
median_rating = df['rating'].median()
df['rating'] = df['rating'].fillna(median_rating)

### `business_desc`

There are 5 rows with missing `business_desc` values. Since `business_desc` is a textual categorical column and will be important for downstream analysis, we will drop these 5 rows. 

They represent a very small proportion of the dataset, so their removal will not significantly affect our analysis.

In [16]:
df = df.dropna(subset=['business_desc'])

# After Handling of Missing Values

In [17]:
print(df.isnull().sum())

user_id           78
user_name         34
time               0
rating             0
review            11
gmap_id            0
business_name      3
latitude           0
longitude          0
business_desc      0
avg_rating         0
num_of_reviews     0
label              1
dtype: int64

All missing values for the relevant columns to be used in our model development has been handled.

# Save Dataset

In [ ]:
df.to_csv("final_data/cleaned_dataset.csv", index=False)